/*
    Colours
*/
$black: #000;
$blue-sky: #85b6c5;
$buddy-gold: #b88a57;
$calm-blue: #eef4f8;
$claeys-cream: #f2e4d6;
$heartland-yellow: #f2ba42;
$pink: #af006e;
$river-blue: #004d80;
$rust-belt: #d34e23;
$strato-blue: #1d253c;
$truman-brown: #653727;
$white: #fff;


.blue-sky {
    background-color: $blue-sky;
    color: $blue-sky;
}

.buddy-gold {
    background-color: $buddy-gold;
    color: $buddy-gold;
}

.calm-blue {
    background-color: $calm-blue;
    color: $calm-blue;
}

.claeys-cream {
    background-color: $claeys-cream;
    color: $claeys-cream;
}

.heartland-yellow {
    background-color: $heartland-yellow;
    color: $heartland-yellow;
}

.river-blue {
    background-color: $river-blue;
    color: $river-blue;
}

.rust-belt {
    background-color: $rust-belt;
    color: $rust-belt;
}

.strato-blue {
    background-color: $strato-blue;
    color: $strato-blue;
}

.transparent {
    background-color: transparent;
    color: transparent;
}

.truman-brown {
    background-color: $truman-brown;
    color: $truman-brown;
}